<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- 详细的帮助文档见： https://github.com/NLog/NLog/wiki   -->
    <target name="trace" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}> ${message}" />

    <target name="info" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.txt"
            layout="${longdate} | ${level:padding=-5} | ${message}" />

    <target name="error" xsi:type="File" maxArchiveFiles="30"
            fileName="${basedir}/Logs/${shortdate}_error.txt"
            layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
	  <target name="remoteLog" xsi:type="GelfUdp" remoteAddress="172.18.114.211" remotePort="12625"  facility="Easy Gelf Example Application" layout="${message}">
      <parameter name="sourceIp" layout="172.18.102.115" />
      <parameter name="levelMessage" layout="${level:uppercase=false}" />
    </target>
  </targets>
  <rules>
    <logger name="*"  minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>